@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  /* width not affected by padding or border */
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(161, 100, 223);
  display: flex;
  /* allows flex items to wrap onto multiple lines */
  flex-wrap: wrap;
  /* Centered horizontally */
  align-items: center;
  /* Centered vertically on 100% viewport */
  justify-content: center;
  /* center text in its container */
  text-align: center;
  /* 100% viewport height  */
  height: 100vh;
  /* don't want scrollbars  */
  overflow: hidden;
  /* no margins  */
  margin: 0;
}

.btn {
  background-color: rebeccapurple;
  /* slightly rounded corners */
  border-radius: 5px;
  /* remove outline */
  border: none;
  color: #fff;
  /* 1 rem all around */
  margin: 1rem;
  /* 1.5rem top/bottom, 3rem sides */
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  /* same font as parent */
  font-family: inherit;
  /* pointer when hovered */
  cursor: pointer;
}

/* when button is hovered */
.btn:hover {
  /* reduce opacity */
  opacity: 0.9;
}

/* when button is focused */
.btn:focus {
  /* remove outline */
  outline: none;
  /* reduce opacity and increase size slightly when focused so still accessible */
  opacity: 0.9;
  transform: scale(1.05);
}
